body {
    font-family: 'Roboto', sans-serif;
}

.top-banner {
    background-image: url(./Image/Banner.png);
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
    height: 500px;
    text-align: center;
    padding-top: 80px;
    margin: -10px;
}

.top-banner h1 {
    font-family: 'Arima', cursive;
    font-family: 'Roboto', sans-serif;
    font-size: 70px;
}

.link-button {
    text-decoration: none;
    background-color: rgb(248, 92, 45);
    padding: 5px 25px;
    color: black;
    font-weight: 900;
    border-radius: 10px;
    font-size: xx-large;
    align-content: center;
}

.sec-part {
    text-align: center;
}

.sec-part-head {
    font-size: 50px;
}

.sec-part-para {
    font-style: italic;
    font-weight: 300;
    font-size: 20px;

}

.container {
    font-size: 20px;
    text-align: center;
}

.taka {

    display: inline-block;
    padding: 10px 15px;
    background: rgb(252, 238, 238);
    margin: 15px;
    border-radius: 5px;
}

.takaa {
    display: inline-block;
    padding: 10px 15px;
    margin: 15px;
    border-radius: 5px;
    background: rgba(252, 59, 0, 0.281);
    border: 1px;
    border-style: solid;
    border-color: rgb(248, 92, 45);
}

.link-button2 {
    text-decoration: none;
    background-color: rgb(248, 92, 45);
    padding: 5px 25px;
    color: white;
    font-weight: 900;
    border-radius: 10px;
    font-size: xx-large;
    align-content: center;
}

.amount {
    color: black;
    font-weight: 800;
    border: 0;
}

.line {
    padding-left: 15%;
    align-items: center;
    width: 20%;
}

.third-part-text h1 {
    font-size: 50px;
    text-align: center;

}

.third-part-text p {
    text-align: center;
    font-style: italic;
    font-weight: 300;
    font-size: 20px;
}

.third-part-container {
    display: inline-flex;
    padding: 30px 120px;
    margin: 20px;

}

.third-part-box-1 {
    display: inline-block;
    padding: 10px 15px;
    background: rgb(213, 251, 245);
    margin: 15px;
    border-radius: 15px;
}

.third-part-box2 {
    display: inline-block;
    padding: 10px 15px;
    background: rgb(241, 210, 241);
    margin: 15px;
    border-radius: 10px;
}

.third-part-box3 {
    display: inline-block;
    padding: 10px 15px;
    background: rgb(195, 244, 192);
    margin: 15px;
    border-radius: 15px;
}

.third-part-container h1 {

    font-size: 110px;
}

.fifth-part-text h1 {
    text-align: center;
    font-size: 50px;
}

.fifth-part-text p {
    text-align: center;
    font-style: italic;
    font-weight: 300;
    font-size: 17px;
}

.input {
    text-align: center;
    padding: 50px;
    margin-left: 30%;
    margin-right: 30%;
    background-color: rgb(193, 254, 208);
    border-radius: 5px;

}

.subs {
    background-color: rgb(247, 63, 8);
    width: 110px;
    height: 37px;
    border: 0;
    position: relative;
    left: -5px;
    border-radius: 0px 5px 5px 0px;
}

.mail {
    width: 200px;
    height: 35px;
    border: 0;
    background-color: rgb(232, 224, 224);
    border-radius: 5px 0px 0px 5px;
}


.footer {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-top: 5px;
    padding-bottom: 5px;
    color: rgb(194, 190, 189);
    text-align: center;
    background-color: rgb(21, 19, 19);
    margin: -10px;
}

.forth-part-text {
    text-align: center;

}

.forth-part-text h4 {
    color: rgb(108, 209, 7);
    font-size: 50px;
    padding-bottom: 10px;
}

.forth-part-text p {
    font-style: italic;
    font-weight: 300;
    font-size: 18px;
}

.pictures1 {
    box-sizing: border-box;
    display: flex;
    width: 33.33%;
}


.pictures2 {
    box-sizing: border-box;
    display: flex;
    width: 33.33%;
}

.pictures3 {
    box-sizing: border-box;
    display: flex;
    width: 33.33%;
}

.small {
    font-size: small;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}